<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calender</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../underscore.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>  

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">

<script type="text/template" id="item-template">

	<div class="head" id="head">
	    <div class="backBtn">
	        <i class="fa fa-chevron-left" aria-hidden="true"></i>
	    </div>
	    <div class="month-name" id="month-name">
	        <%= month %>
	    </div>
	    <div class="year-name" id="year-name">
	        <%= year %>
	    </div>
	    <div class="date">
	        <%= date %>
	    </div>
	    <div class="nextBtn">
	        <i class="fa fa-chevron-right" aria-hidden="true"></i>
	    </div>
	    <div class="scale">
	        <ul>
	            <li>Mo</li>
	            <li>Tu</li>
	            <li>We</li>
	            <li>Th</li>
	            <li>Fr</li>
	            <li>Sa</li>
	            <li>Su</li>
	        </ul>
	    </div>
	</div>
<div class="dates" id="dates">
</div>
</script>

</head>
<body>

	
<div class="container">
	
</div>	

	
<script src="DateModel.js" type="text/javascript"></script>
<script src="dayView.js" type="text/javascript"></script>
</body>
</html>