<div class="head" id="head">
	<div class="backBtn">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	</div>
	<div class="month-name" id="month-name">
		<%= month %>		
	</div>
	<div class="year-name" id="year-name">
		<%= year %>
		</div>
	
	<div class="date">
		<%= date %>
	</div>
	<div class="nextBtn">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
	</div>
	<div class="scale">
		<ul>
			<li>Mo</li>
			<li>Tu</li>
			<li>We</li>
			<li>Th</li>
			<li>Fr</li>
			<li>Sa</li>
			<li>Su</li>
		</ul>
	</div>
	
</div>
<div class="dates" id="dates">
	
		
				
</div>